
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPackageSlotLabel">Create or edit a PackageSlot</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.packageSlot.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_size">Size</label>
            <input type="text" class="form-control" name="size" id="field_size"
                    ng-model="vm.packageSlot.size"
                    required ng-maxlength="30" />
            <div ng-show="editForm.size.$invalid">
                <p class="help-block"
                    ng-show="editForm.size.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.size.$error.maxlength">
                    This field cannot be longer than 30 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="vm.packageSlot.price"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                    ng-model="vm.packageSlot.quantity"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_remainingQuantity">RemainingQuantity</label>
            <input type="number" class="form-control" name="remainingQuantity" id="field_remainingQuantity"
                    ng-model="vm.packageSlot.remainingQuantity"
                    required />
            <div ng-show="editForm.remainingQuantity.$invalid">
                <p class="help-block"
                    ng-show="editForm.remainingQuantity.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.remainingQuantity.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_shipmentOffer">shipmentOffer</label>
            <select class="form-control" id="field_shipmentOffer" name="shipmentOffer" ng-model="vm.packageSlot.shipmentOfferId" ng-options="shipmentOffer.id as shipmentOffer.id for shipmentOffer in vm.shipmentoffers">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
