
<div>
    <h2><span>PackageSlot</span> {{vm.packageSlot.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span>Size</dt></dt>
        <dd>
            <span>{{vm.packageSlot.size}}<span>
        </dd>
        <hr>
        <dt><span>Price</dt></dt>
        <dd>
            <span>{{vm.packageSlot.price}}<span>
        </dd>
        <hr>
        <dt><span>Quantity</dt></dt>
        <dd>
            <span>{{vm.packageSlot.quantity}}<span>
        </dd>
        <hr>
        <dt><span>RemainingQuantity</dt></dt>
        <dd>
            <span>{{vm.packageSlot.remainingQuantity}}<span>
        </dd>
        <hr>
        <dt><span>shipmentOffer</span></dt>
        <dd>
            <a ui-sref="shipment-offer-detail({id:vm.packageSlot.shipmentOfferId})">{{vm.packageSlot.shipmentOfferId}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
