<link href="../../content/css/offer.css" rel="stylesheet">

<div ng-cloak>
    <div class="col-md-2">
    </div>
    <h2><span>Szczegóły ogłoszenia</span> {{vm.offerDetail.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span>Data</span></dt>
        <dd>
            <span>{{vm.offerDetail.date | date:"dd MMM yyyy"}}</span>
        </dd>
        <hr>
        <dt><span>Opis</span></dt>
        <dd>
            <span>{{vm.offerDetail.description}}</span>
        </dd>
        <hr>
        <div ng-repeat="transitPoint in vm.offerDetail.transitPoints | orderBy: 'date'">
            <div ng-if="$first">
                <dt><span>Miasto startowe</span></dt>
                <dd>
                    <span>{{transitPoint.city}} ({{transitPoint.date | date:"dd MMM 'at' HH:mm"}}) </span>
                </dd>
                <!--<hr>-->
            </div>
            <div ng-if="!$first && !$last">
                <dt><span> --> </span></dt>
                <dd>
                    <span>{{transitPoint.city}} ({{transitPoint.date | date:"dd MMM 'at' HH:mm"}}) </span>
                </dd>
                <!--<hr>-->
            </div>
            <div ng-if="$last">
                <dt><span>Miasto docelowe</span></dt>
                <dd>
                    <span>{{transitPoint.city}} ({{transitPoint.date | date:"dd MMM 'at' HH:mm"}}) </span>
                </dd>
            </div>
        </div>

        <hr>
        <div ng-repeat="slot in vm.offerDetail.packageSlots | orderBy: 'remainingQuantity': true">
            <dt ng-if="$first"><span>Dostępne sloty</span></dt>
            <dd>
                <span ng-if="slot.size === 'S'">Mała: {{slot.remainingQuantity}} ({{slot.price}}zł szt.)</span>
                <span ng-if="slot.size === 'M'">Średnia: {{slot.remainingQuantity}} ({{slot.price}}zł szt.)</span>
                <span ng-if="slot.size === 'L'">Duża: {{slot.remainingQuantity}} ({{slot.price}}zł szt.)</span>
                <span
                    ng-if="slot.size === 'C'">Niestandardowa: {{slot.remainingQuantity}} ({{slot.price}}zł szt.)</span>
            </dd>
        </div>
        <hr>
        <dt><span>ID przewoźnika</span></dt>
        <dd>
            <span>{{vm.offerDetail.user_shipmentId}}</span>
        </dd>
        <hr>

    </dl>

    <div class="button-left">
        <button type="submit"
                onclick="window.history.back()"
                class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
        </button>
    </div>
    <div class="button-right">
        <button type="submit"
                ui-sref="accept-offer({offerDetail: vm.offerDetail})"
                class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;<span> Accept offer</span>
        </button>
    </div>
</div>
