<link href="../../content/css/howto.css" rel="stylesheet">
<link href="../../content//fontello/css/fontello.css" rel="stylesheet">


<div ng-cloak>
    <div class="howto">
        <h2>Jak działa system DeliverIT?</h2>

        <div class="fontello"><i class="icon-adult"></i></div>
        <p><strong>Krok 1.</strong> Nadawca wybiera ofertę przewoźnika i wybiera miejsca spotkań.</p>
        <div class="fontello"><i class="icon-down"></i></div>

        <div class="fontello"><i class="icon-wallet"></i></div>
        <p><strong>Krok 2.</strong> Nadawca przelewa pieniądze do systemu i otrzymuje kod przesyłki.</p>
        <div class="fontello"><i class="icon-down"></i></div>

        <div class="fontello"><i class="icon-location"></i></div>
        <p><strong>Krok 3.</strong> W określonym czasie spotyka się w miejscu spotkania i przekazuje przesyłke
            przewoźnikowi.</p>
        <div class="fontello"><i class="icon-down"></i></div>

        <div class="fontello"><i class="icon-truck"></i></div>
        <p><strong>Krok 4.</strong> Kurier dostarcza przesyłkę na miejsce spotkania.</p>
        <div class="fontello"><i class="icon-down"></i></div>

        <div class="fontello"><i class="icon-location-outline"></i></div>
        <p><strong>Krok 5.</strong> Odbiorca zabiera przesyłkę oraz potwierdza odebranie przesyłki w systemie.</p>
        <div class="fontello"><i class="icon-down"></i></div>

        <div class="fontello"><i class="icon-money"></i></div>
        <p><strong>Krok 6.</strong> Po potwierdzeniu pieniądze zostają przelane na konto przewoźnika.</p>
        <div class="fontello"><i class="icon-down"></i></div>

        <div class="fontello"><i class="icon-comment"></i></div>
        <p><strong>Krok 7.</strong> Użytkownicy wystawiają sobie komentarze w systemie.</p>
    </div>
</div>
