<link href="../../content/css/faq.css" rel="stylesheet">

<div ng-cloak class="faq">
    <h2>Czy moja paczka jest bezpieczna?</h2>
    <p>W momencie przekazania paczki przewoźnikowi, jest on odpowiedzialny za twoją przesyłkę, w razie niedostarczenia
        przesyłki powinieneś/powinnaś zgłosić to na policję oraz wystawić odpowiedni komentarz na stronie.</p>

    <h2>Moja przesyłka została uszkodzona. Co zrobić?</h2>
    <p>W przypadku gdy twoja przesyłka zostanie dostarczona w innym stanie niż ją wysłałeś, powinieneś jak najszybciej
        skontaktować się z nami oraz z przewoźnikiem w celu rozwiązania problemu. Pamiętaj aby dobrze zabezpieczyć swoją
        paczkę przed przekazaniem.</p>

    <h2>Ile powinienem/powinnam zapłacić przewoźnikowi?</h2>
    <p>Proponowane ceny za przesyłkę ustalane są na podstawie statystyk przeprowadzanych przez aplikację DeliverIT.
        Pamiętaj że jest to proponowana cena, ostateczna decyzja należy do przewoźnika.</p>

    <h2>Jak wystawić opinie po udanej transakcji?</h2>
    <p>W momencie kiedy przesyłka dostaje dostarczona oboje użytkownicy powinni wystawić sobię odpowiedni komentarz
        poprzez aplikację.</p>

    <h2>Jak mam określić rodzaj mojej paczki?</h2>
    <p>Wielkość paczki ustalana jest na podstawie jej objętości oraz wymiarów. Aby sprawdzić jaki rodzaj paczki wybrać w
        momencie wystawiania ogłoszenia patrz <a href="">rozmiary paczek</a>.</p>

    <h2>Czym są miejsca spotkań?</h2>
    <p>Miejsca spotkań to nic innego jak łatwe w odnalezieniu oraz rozponaniu lokalizacje w miastach. Mają one ułatwić
        jak i przyspieszyć transakcje.</p>

    <h2>Kiedy otrzymam pieniądze za dostarczenie przesyłki?</h2>
    <p>Pieniądze za dostarczenie zostaną przelane na twoje konto w momencie kiedy osoba odbierająca poinformuje system o
        odebraniu przesyłki.</p>
</div>
