
<div>
    <h2><span>ShipmentOffer</span> {{vm.shipmentOffer.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span>Date</dt></dt>
        <dd>
            <span>{{vm.shipmentOffer.date | date:'mediumDate'}}</span>
        </dd>
        <hr>
        <dt><span>Description</dt></dt>
        <dd>
            <span>{{vm.shipmentOffer.description}}<span>
        </dd>
        <hr>
        <dt><span translate="deliveritApp.shipmentOffer.user_shipment">user_shipment</span></dt>
        <dd>
            {{vm.shipmentOffer.user_shipmentId}}
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
