<link href="../../content/css/add-offer.css" rel="stylesheet">
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPackLabel">Create offer</h4>
    </div>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="background-rectangle">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label" for="field_start">Miasto startowe</label>
                        <input type="text" class="form-control" name="field_start" id="field_start"
                               ng-model="vm.transitPointStart.city" placeholder="np. Warszawa"
                        />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label" for="field_start_date">Data wyjazdu</label>
                        <div class="input-group">
                            <input id="field_start_date" type="text" class="form-control" placeholder="RRRR-MM-DD HH:MM"
                                   name="field_start_date"
                                   datetime-picker="{{dateformat}}" ng-model="vm.transitPointStart.date"
                                   is-open="vm.datePickerOpenStatus.field_start_date"
                            />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="vm.openCalendar('field_start_date')"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Transits add -->
            <div class="row" ng-repeat="transit in vm.transits">

                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label" for="{{transit.fieldName}}">Miasto przelotowe {{$index+1}}</label>
                        <input type="text" class="form-control" name="{{transit.fieldName}}" id="{{transit.fieldName}}"
                               ng-model="transit.city" placeholder="np. Kraków"
                        />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label" for="{{transit.fieldDateName}}">Data przyjazdu {{$index+1}}</label>
                        <div class="input-group">
                            <input id="{{transit.fieldDateName}}" type="text" class="form-control"
                                   placeholder="RRRR-MM-DD HH:MM"
                                   name="{{transit.fieldDateName}}"
                                   datetime-picker="{{dateformat}}" ng-model="transit.date"
                                   is-open="vm.datePickerOpenStatus[transit.fieldDateName]"
                            />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="vm.openCalendar(transit.fieldDateName)"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1">
                    <span class="btn btn-default btn-xs" ng-click="vm.addTransit()" ng-if="vm.transits.length < 5">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp;<span>Dodaj miasto</span>
                    </span>
                </div>
            </div>
            <!-- /Transits add -->

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label" for="field_end">Miasto docelowe</label>
                        <input type="text" class="form-control" name="field_end" id="field_end"
                               ng-model="vm.transitPointEnd.city" placeholder="np. Wrocław"
                />
                    </div>
            </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label" for="field_start_date">Data przyjazdu</label>
                        <div class="input-group">
                            <input id="field_end_date" type="text" class="form-control" placeholder="RRRR-MM-DD HH:MM"
                                   name="field_end_date"
                                   datetime-picker="{{dateformat}}" ng-model="vm.transitPointEnd.date"
                                   is-open="vm.datePickerOpenStatus.field_end_date"
                            />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="vm.openCalendar('field_end_date')"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="background-rectangle">
            <div class="row" ng-repeat="slot in vm.slots">

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label" for="{{slot.fieldSizeName}}">Rozmiar {{$index +1}}</label>
                        <select class="form-control" name="{{slot.fieldSizeName}}" id="{{slot.fieldSizeName}}"
                                ng-model="slot.size">
                            <option value="S">Mała (do 25x25)</option>
                            <option value="M">Średnia (do 50x50)</option>
                            <option value="L">Duża (do 100x100)</option>
                            <option value="C">Niestandardowa</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label" for="{{slot.fieldQuantityName}}">Ilość slotów</label>
                        <input type="text" class="form-control" name="{{slot.fieldQuantityName}}"
                               id="{{slot.fieldQuantityName}}"
                               ng-model="slot.quantity" placeholder="np. 5"
                        />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label" for="{{slot.fieldPriceName}}">Cena za sztuke</label>
                        <input type="text" class="form-control" name="{{slot.fieldPriceName}}"
                               id="{{slot.fieldPriceName}}"
                               ng-model="slot.price" placeholder="np. 10"
                        />
                    </div>
                </div>
        </div>
            <div class="row">
                <div class="col-lg-1">
                    <span class="btn btn-default btn-xs" ng-click="vm.addSlot()" ng-if="vm.slots.length < 4">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp;<span>Dodaj rozmiar</span>
                    </span>
                </div>
            </div>
        </div>

        <div class="background-rectangle">
        <div class="form-group">
            <label class="control-label" for="field_description">(opcjonalne) Wiadomość dla nadawcy</label>
            <input type="text" class="form-control" name="field_description" id="field_description"
                   ng-model="vm.shipmentOffer.description"
                   placeholder="np. Proszę o uprzedni kontakt telefoniczny"
            />
        </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>

</form>
