<link href="../../content/css/contact.css" rel="stylesheet">

<div class="contact">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 alt="Generic placeholder image" width="140" height="140">
            <h2>Marcel Kończyk</h2>
            <p><strong>Email:</strong> adres@gmail.com</p>
            <p><strong>Telefon:</strong> +48 123 45 56 89</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 alt="Generic placeholder image" width="140" height="140">
            <h2>Mateusz Mańka</h2>
            <p><strong>Email:</strong> adres@gmail.com</p>
            <p><strong>Telefon:</strong> +48 123 45 56 80</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 alt="Generic placeholder image" width="140" height="140">
            <h2>Kamil Cała</h2>
            <p><strong>Email:</strong> adres@gmail.com</p>
            <p><strong>Telefon:</strong> +48 123 45 56 81</p>
        </div><!-- /.col-lg-4 -->
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <div class="block">
                <img class="img-circle"
                     src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                     alt="Generic placeholder image" width="140" height="140">
                <h2>Karina Nartowska</h2>
                <p><strong>Email:</strong> adres@gmail.com</p>
                <p><strong>Telefon:</strong> +48 123 45 56 82</p>
            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 alt="Generic placeholder image" width="140" height="140">
            <h2>Joachim Nowodworski</h2>
            <p><strong>Email:</strong> adres@gmail.com</p>
            <p><strong>Telefon:</strong> +48 123 45 56 83</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-2"></div>
    </div><!-- /.row -->
</div>
