
<div>
    <h2><span>TransitPoint</span> {{vm.transitPoint.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span>City</dt></dt>
        <dd>
            <span>{{vm.transitPoint.city}}<span>
        </dd>
        <hr>
        <dt><span>Date</dt></dt>
        <dd>
            <span>{{vm.transitPoint.date | date:'medium'}}</span>
        </dd>
        <hr>
        <dt><span>shipmentOffer</span></dt>
        <dd>
            <a ui-sref="shipment-offer-detail({id:vm.transitPoint.shipmentOfferId})">{{vm.transitPoint.shipmentOfferId}}</a>
        </dd>
        <hr>
        <dt><span>place</span></dt>
        <dd>
            <a ui-sref="place-detail({id:vm.transitPoint.placeId})">{{vm.transitPoint.placeId}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
