<div>
    <h2>TransitPoints</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="transit-point.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Create new TransitPoint
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>City</span></th>
                    <th><span>Date</span></th>
                    <th><span>shipmentOffer</span></th>
                    <th><span>place</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transitPoint in vm.transitPoints track by transitPoint.id">
                    <td><a ui-sref="transit-point-detail({id:transitPoint.id})">{{transitPoint.id}}</a></td>
                    <td>{{transitPoint.city}}</td>
                    <td>{{transitPoint.date | date:'medium'}}</td>
                    <td>
                        <a ui-sref="shipment-offer-detail({id:transitPoint.shipmentOfferId})">{{transitPoint.shipmentOfferId}}</a>
                    </td>
                    <td>
                        <a ui-sref="place-detail({id:transitPoint.placeId})">{{transitPoint.placeId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="transit-point-detail({id:transitPoint.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="transit-point.edit({id:transitPoint.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="transit-point.delete({id:transitPoint.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
