
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPackLabel">Create or edit a Pack</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.pack.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_packageCode">PackageCode</label>
            <input type="text" class="form-control" name="packageCode" id="field_packageCode"
                    ng-model="vm.pack.packageCode"
                     />
        </div>

        <div class="form-group">
            <label for="field_packageSlot">packageSlot</label>
            <select class="form-control" id="field_packageSlot" name="packageSlot" ng-model="vm.pack.packageSlotId" ng-options="packageSlot.id as packageSlot.id for packageSlot in vm.packageslots">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_endTrasitPoint">endTrasitPoint</label>
            <select class="form-control" id="field_endTrasitPoint" name="endTrasitPoint" ng-model="vm.pack.endTrasitPointId" ng-options="transitPoint.id as transitPoint.id for transitPoint in vm.transitpoints">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_shipmentOfferSubmition">shipmentOfferSubmition</label>
            <select class="form-control" id="field_shipmentOfferSubmition" name="shipmentOfferSubmition" ng-model="vm.pack.shipmentOfferSubmitionId" ng-options="shipmentOfferSubmition.id as shipmentOfferSubmition.id for shipmentOfferSubmition in vm.shipmentoffersubmitions">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
