<div>
    <h2>Packs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="pack.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Create new Pack
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="packageCode"><span>PackageCode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="packageSlotId"><span>packageSlot</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endTrasitPointId"><span>endTrasitPoint</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="shipmentOfferSubmitionId"><span>shipmentOfferSubmition</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pack in vm.packs track by pack.id">
                    <td><a ui-sref="pack-detail({id:pack.id})">{{pack.id}}</a></td>
                    <td>{{pack.packageCode}}</td>
                    <td>
                        <a ui-sref="package-slot-detail({id:pack.packageSlotId})">{{pack.packageSlotId}}</a>
                    </td>
                    <td>
                        <a ui-sref="transit-point-detail({id:pack.endTrasitPointId})">{{pack.endTrasitPointId}}</a>
                    </td>
                    <td>
                        <a ui-sref="shipment-offer-submition-detail({id:pack.shipmentOfferSubmitionId})">{{pack.shipmentOfferSubmitionId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="pack-detail({id:pack.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pack.edit({id:pack.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pack.delete({id:pack.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
