
<div>
    <h2><span>Pack</span> {{vm.pack.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span>PackageCode</dt></dt>
        <dd>
            <span>{{vm.pack.packageCode}}<span>
        </dd>
        <hr>
        <dt><span>packageSlot</span></dt>
        <dd>
            <a ui-sref="package-slot-detail({id:vm.pack.packageSlotId})">{{vm.pack.packageSlotId}}</a>
        </dd>
        <hr>
        <dt><span>endTrasitPoint</span></dt>
        <dd>
            <a ui-sref="transit-point-detail({id:vm.pack.endTrasitPointId})">{{vm.pack.endTrasitPointId}}</a>
        </dd>
        <hr>
        <dt><span>shipmentOfferSubmition</span></dt>
        <dd>
            <a ui-sref="shipment-offer-submition-detail({id:vm.pack.shipmentOfferSubmitionId})">{{vm.pack.shipmentOfferSubmitionId}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
