<link href="../../content/css/add-offer.css" rel="stylesheet">
<form name="editForm" role="form" novalidate ng-submit="vm.createOfferSubmition()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPackLabel">Accept offer {{vm.offer.id}}</h4>
    </div>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="background-rectangle">
            <div class="form-group">
                <label class="control-label" for="field_from">Z</label>
                <select class="form-control" name="field_from" id="field_from"
                        ng-model="vm.shipmentOfferSubmition.startTransitPointId">
                    <option ng-repeat="transit in vm.offer.transitPoints" value="{{transit.id}}">{{transit.city}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label" for="field_to">Do</label>
                <select class="form-control" name="field_to" id="field_to"
                        ng-model="vm.pack.endTrasitPointId">
                    <option ng-repeat="transit in vm.offer.transitPoints" value="{{transit.id}}">{{transit.city}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label" for="field_slot">Rozmiar paczki</label>
                <select class="form-control" name="field_slot" id="field_slot"
                        ng-model="vm.pack.packageSlotId">
                    <option ng-repeat="slot in vm.offer.packageSlots" value="{{slot.id}}">{{slot.size}}</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label" for="field_description">Wiadomość dla przewoźnika</label>
                <input type="text" class="form-control" name="field_description" id="field_description"
                       ng-model="vm.shipmentOfferSubmition.message"
                       placeholder="np. Proszę o kontakt telefoniczny"
                />
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>

</form>
