@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?40977908');
  src: url('../font/fontello.eot?40977908#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?40977908') format('woff2'),
       url('../font/fontello.woff?40977908') format('woff'),
       url('../font/fontello.ttf?40977908') format('truetype'),
       url('../font/fontello.svg?40977908#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?40977908#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 


.icon-right:before { content: '\e810'; font-size: 32px} /* '' */
.icon-left:before { content: '\e811'; } /* '' */
.icon-down-1:before { content: '\e812'; } /* '' */
.icon-up:before { content: '\e813'; } /* '' */
.icon-child:before { content: '\e800'; font-size: 64px;} /* '' */
.icon-down-thin:before { content: '\e801'; font-size: 64px;} /* '' */
.icon-down-bold:before { content: '\e802'; font-size: 64px;} /* '' */
.icon-box:before { content: '\e803'; font-size: 64px;} /* '' */
.icon-location:before { content: '\e804'; font-size: 64px;} /* '' */
.icon-location-outline:before { content: '\e805'; font-size: 64px} /* '' */
.icon-location-s:before { content: '\e804'; font-size: 16px;} /* '' */
.icon-location-outline-s:before { content: '\e805'; font-size: 16px;} /* '' */
.icon-money:before { content: '\e806'; font-size: 64px;} /* '' */
.icon-wallet:before { content: '\e807'; font-size: 64px;} /* '' */
.icon-truck:before { content: '\e808'; font-size: 64px;} /* '' */
.icon-exchange:before { content: '\e809'; font-size: 64px;} /* '' */
.icon-person:before { content: '\e80a'; font-size: 64px;} /* '' */
.icon-adult:before { content: '\e80b'; font-size: 64px;} /* '' */
.icon-exchange-1:before { content: '\e80c'; font-size: 64px;} /* '' */
.icon-down-bold-1:before { content: '\e80d'; font-size: 64px;} /* '' */
.icon-down:before { content: '\e80e'; font-size: 32px; margin-bottom: 30px; margin-top: 10px;} /* '' */
.icon-comment:before { content: '\e80f'; font-size: 64px;} /* '' */