
.icon-child:before { content: '\e800'; } /* '' */
.icon-down-thin:before { content: '\e801'; } /* '' */
.icon-down-bold:before { content: '\e802'; } /* '' */
.icon-box:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-location-outline:before { content: '\e805'; } /* '' */
.icon-money:before { content: '\e806'; } /* '' */
.icon-wallet:before { content: '\e807'; } /* '' */
.icon-truck:before { content: '\e808'; } /* '' */
.icon-exchange:before { content: '\e809'; } /* '' */
.icon-person:before { content: '\e80a'; } /* '' */
.icon-adult:before { content: '\e80b'; } /* '' */
.icon-exchange-1:before { content: '\e80c'; } /* '' */
.icon-down-bold-1:before { content: '\e80d'; } /* '' */
.icon-down:before { content: '\e80e'; } /* '' */
.icon-comment:before { content: '\e80f'; } /* '' */
.icon-right:before { content: '\e810'; } /* '' */
.icon-left:before { content: '\e811'; } /* '' */
.icon-down-1:before { content: '\e812'; } /* '' */
.icon-up:before { content: '\e813'; } /* '' */