<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.navCollapsed = !vm.navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><span>DeliverIT</span> <span
                class="navbar-version">v{{VERSION}}</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse" uib-collapse="vm.navCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-left">
                <li ui-sref-active="active">
                    <a ui-sref="home" ng-click="vm.navCollapsed = true">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm">Home</span>
                    </a>
                </li>
                <li ng-class="{active: vm.$state.includes('offer')}" ng-switch-when="true" uib-dropdown
                    class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="offer-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm">
                                Offer
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active"><a ui-sref="my-offers" data-toggle="collapse"
                                                       data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-file"></span>
                            &#xA0;<span>My Offers</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="search-offer" data-toggle="collapse"
                                                       data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-search"></span>
                            &#xA0;<span>Search Offer</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="add-offer.new" data-toggle="collapse"
                                                       data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-plus"></span>
                            &#xA0;<span>Add Offer</span></a></li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('support')}" ng-switch-when="true" uib-dropdown
                    class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="support-menu">
                            <span>
                                <span class="glyphicon glyphicon-info-sign"></span>
                                <span class="hidden-sm">
                                    Support
                                </span>
                                <b class="caret"></b>
                            </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active"><a ui-sref="howto" data-toggle="collapse"
                                                       data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-book"></span>
                            &#xA0;<span>How to</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="faq" data-toggle="collapse"
                                                       data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-question-sign"></span>
                            &#xA0;<span>Faq</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="contact" data-toggle="collapse"
                                                       data-target=".navbar-collapse.in"><span
                            class="glyphicon glyphicon-envelope"></span>
                            &#xA0;<span>Contact</span></a></li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>

                <!--<li ui-sref-active="active">-->
                <!--<a ui-sref="howto" ng-click="vm.navCollapsed = true">-->
                <!--<span class="glyphicon glyphicon-book"></span>-->
                <!--<span class="hidden-sm">How to</span>-->
                <!--</a>-->
                <!--</li>-->
                <!--<li ui-sref-active="active">-->
                <!--<a ui-sref="faq" ng-click="vm.navCollapsed = true">-->
                <!--<span class="glyphicon glyphicon-question-sign"></span>-->
                <!--<span class="hidden-sm">FAQ</span>-->
                <!--</a>-->
                <!--</li>-->
                <!--<li ui-sref-active="active">-->
                <!--<a ui-sref="contact" ng-click="vm.navCollapsed = true">-->
                <!--<span class="glyphicon glyphicon-envelope"></span>-->
                <!--<span class="hidden-sm">Contact</span>-->
                <!--</a>-->
                <!--</li>-->
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{active: vm.$state.includes('entity')}" has-authority="ROLE_ADMIN" ng-switch-when="true"
                    uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ><a ui-sref="shipment-offer" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                            &#xA0;<span>Shipment Offer</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="transit-point" data-toggle="collgit reapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                            &#xA0;<span>Transit Point</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="package-slot" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                            &#xA0;<span>Package Slot</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="shipment-offer-submition" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                            &#xA0;<span>Shipment Offer Submition</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="pack" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                            &#xA0;<span>Pack</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="place" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >Place</span></a></li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="settings" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-wrench"></span>
                            &#xA0;<span>Settings</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="password" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-lock"></span>
                            &#xA0;<span>Password</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="sessions" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-cloud"></span>
                            &#xA0;<span>Sessions</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a href="" ng-click="vm.logout()" id="logout" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-log-out"></span>
                            &#xA0;<span>Sign out</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="false"><a href="" ng-click="vm.login()" id="login" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-log-in"></span>
                            &#xA0;<span>Sign in</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="register" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-plus-sign"></span>
                            &#xA0;<span>Register</span></a></li>
                    </ul>
                </li>
                <li ng-class="{active: vm.vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active"><a ui-sref="user-management" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-user"></span>
                            &#xA0;<span>User management</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="jhi-metrics" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-dashboard"></span>
                            &#xA0;<span>Metrics</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="jhi-health" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-heart"></span>
                            &#xA0;<span>Health</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="jhi-configuration" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-list-alt"></span>
                            &#xA0;<span>Configuration</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="audits" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-bell"></span>
                            &#xA0;<span>Audits</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="logs" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-tasks"></span>
                            &#xA0;<span>Logs</span></a></li>
                        <li ng-hide="vm.inProduction" ui-sref-active="active"><a ui-sref="docs" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-book"></span>
                            &#xA0;<span>API</span></a></li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                        <li ng-hide="vm.inProduction"><a href='/h2-console' target="_tab" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-hdd"></span>
                            &#xA0;<span>Database</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
