<link href="../../content/css/home.css" rel="stylesheet">
<link href="../../content//fontello/css/fontello.css" rel="stylesheet">

<div ng-cloak>
    <div class="home">
        <div class="row">
            <!-- Main component for a primary marketing message or call to action -->
            <div class="image img-responsive"><img src="../../content/images/delivery.png" width="65%"
                                                   alt="Smiley face"></div>
        </div>

        <hr class="featurette-divider">
        <div class="row">
            <div id="location">
                <div class="row">
                    <div class="input-group">
                          <span class="input-group-btn">
                              <button class="btn btn-default" type="button"><i class="icon-location-s"></i></button>
                          </span>
                        <input type="text" class="form-control" placeholder="Miasto startowe">
                    </div><!-- /input-group -->
                </div>

                <div class="row">
                    <h3><i class="icon-down-1"></i></h3>
                </div>

                <div class="row">
                    <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="icon-location-outline-s"></i></button>
              </span>
                        <input type="text" class="form-control" placeholder="Miasto końcowe">
                    </div><!-- /input-group -->
                </div><!-- /.row -->
            </div>
            <div class="row buttons">
                <div class="col-md-4"></div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary">Jadę i zabiorę!</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary">Wysyłam!</button>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <hr class="featurette-divider-med">
        <div class="row">
            <div class="last-announcement">
                <h2>Ostatnio dodane ogłoszenia</h2>
            </div>
        </div>
        <hr class="featurette-divider-med">
        <!------------------>
        <!-- ANNOUNCEMENT -->
        <!------------------>
        <div class="announcement row">
            <div class="col-md-1"><strong>Zabiorę</strong></div>
            <div class="col-md-2">
                <img class="img-circle"
                     src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                     alt="Generic placeholder image" width="70" height="70">
            </div>
            <div class="col-md-1">Warszawa</div>
            <div class="col-md-1"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></div>
            <div class="col-md-1">Wrocław</div>
            <div class="col-md-2">DD/MM HH:MM </span></div>
            <div class="col-md-2">S:- M:- L:- XL:-</div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary">Szczegóły</button>
            </div>
        </div>

        <hr class="featurette-divider">
        <div class="announcement row">
            <div class="col-md-1"><strong>Wysyłam</strong></div>
            <div class="col-md-2">
                <img class="img-circle"
                     src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                     alt="Generic placeholder image" width="70" height="70">
            </div>
            <div class="col-md-1">Warszawa</div>
            <div class="col-md-1"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></div>
            <div class="col-md-1">Kraków</div>
            <div class="col-md-2">DD/MM HH:MM </span></div>
            <div class="col-md-2">S:- M:1 L:- XL:-</div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary">Szczegóły</button>
            </div>
        </div>

        <!------------------->
        <!-- /ANNOUNCEMENT -->
        <!------------------->
        <hr class="featurette-divider">
    </div>
</div>
