
.home .featurette-divider {
  background-color: #000000;
  height: 1px;
  opacity: 0.1;
}

.home .featurette-divider-med {
  background-color: #000000;
  height: 1px;
  opacity: 0.2;
}


.home .image {
    margin-right: 100px;
    text-align: center;
}

.home #location {
  text-align: center;
  max-width: 500px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}


.home .col-md-2{
    text-align: center;
}

.home .buttons{
    padding: 30px 0;
}

.home .last-announcement {
    text-align: center;
}

.home .announcement {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.home .col-md-1,
.home .col-md-2{
    text-align: center;
    line-height: 80px;
    height: 70px;
}
