.offer .featurette-divider {
  background-color: #000000;
  height: 1px;
  opacity: 0.1;
}

.offer .featurette-divider-med {
  background-color: #000000;
  height: 1px;
  opacity: 0.2;
}

.offer #location {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 500px;
  width: 500px;
}

.offer .radio {
    margin-bottom: -40px;
    padding: 20px 0;
}

.offer .radio label {
    padding: 0px 40px;
}

.offer .col-md-2{
    text-align: center;
}

.offer .buttons{
    padding-top: 10px;
    margin-bottom: -20px;
}

.button-right {
    text-align: right;
}

.button-left {
    float: left;
}

.offer .last-announcement {
    text-align: center;
}

.offer .announcement {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.offer .col-md-1,
.offer .col-md-2{
    text-align: center;
    line-height: 80px;
    height: 70px;
}
