<link href="../../content/css/my-offers.css" rel="stylesheet">
<link href="../../content//fontello/css/fontello.css" rel="stylesheet">

<div ng-cloak>
    <h2><span>Moje oferty</span></h2>
    <hr>
    <h4><span>Moje aktywne oferty </span></h4>
    <div ng-repeat="pack in vm.packs track by pack.id">
        <!--<span ng-if="vm.shipmentOffersSubmition[pack.id-1].userId==vm.user.id">-->
            <hr class="featurette-divider-med" ng-if="$first">
            <hr class="featurette-divider" ng-if="!$first">
            <div class="announcement row">
                <div class="col-md-1"><strong>{{pack.packageCode}}</strong></div>
                <div class="col-md-1">
                    {{vm.transitPoints[vm.shipmentOffersSubmition[pack.shipmentOfferSubmitionId-1].startTransitPointId-1].city}}
                </div>
                <div class="col-md-1"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></div>
                <div class="col-md-1">{{vm.transitPoints[pack.endTrasitPointId-1].city}}</div>
                <!-- I know, I know. Line below looks awesome! *PFF who needs RESTs ;( -->
                <div class="col-md-2">{{vm.transitPoints[vm.shipmentOffersSubmition
                    [pack.shipmentOfferSubmitionId-1].startTransitPointId].date | date:"d MMM '''yy HH:mm"}}
                </div>
                <div class="col-md-1">{{vm.packageSlots[pack.packageSlotId-1].size}}</div>
                <div class="col-md-1">{{vm.packageSlots[pack.packageSlotId-1].price}} zł</div>
                <div class="col-md-1">{{vm.shipmentOffersSubmition[pack.shipmentOfferSubmitionId-1].status}}</div>
                <div class="col-md-3">
                    <!-- BUTTON DISABLED-->
                    <button type="submit" ui-sref="offer-detail({id: 1})"
                            class="btn btn-primary" disabled>
                        Szczegóły
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Zakończ
                    </button>
                </div>
            </div>
        <!--</span>-->
    </div>
    <hr class="featurette-divider">
</div>
<h4><span>Moje zakończone oferty </span></h4>
<hr>
<hr>
</div>
