<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DeliverIT</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css content/css/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css content/css/main.css -->
    <link rel="stylesheet" href="content/css/main.css">
    <!-- endbuild -->
</head>
<body ng-app="deliveritApp">
    <!--[if lt IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div ng-show="{{ENV === 'dev'}}" class="development" ng-cloak></div>
    <div ui-view="navbar" ng-cloak></div>
    <div class="container">
        <div class="well" ui-view="content"></div>

        <div class="footer" ng-cloak>
            <!--<p class="pull-right"><a href="#">Back to top</a></p>-->
            <p>&copy; 2016 DeliverIT, Inc. &middot; <a href="">Privacy</a> &middot; <a href="">Terms of use</a> &middot;
            </p>
        </div>

    </div>

    <!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>-->

    <!-- build:js app/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-cache-buster/angular-cache-buster.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/bootstrap-ui-datetime-picker/dist/datetime-picker.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js app/app.js  -->
    <!-- inject:js -->
    <script src="app/app.module.js"></script>
    <script src="app/account/social/directive/social.directive.js"></script>
    <script src="app/account/reset/finish/reset.finish.state.js"></script>
    <script src="app/account/reset/finish/reset.finish.controller.js"></script>
    <script src="app/account/reset/request/reset.request.state.js"></script>
    <script src="app/account/reset/request/reset.request.controller.js"></script>
    <script src="app/services/user/user.service.js"></script>
    <script src="app/services/auth/sessions.service.js"></script>
    <script src="app/services/auth/register.service.js"></script>
    <script src="app/services/auth/principal.service.js"></script>
    <script src="app/services/auth/password.service.js"></script>
    <script src="app/services/auth/password-reset-init.service.js"></script>
    <script src="app/services/auth/password-reset-finish.service.js"></script>
    <script src="app/services/auth/has-authority.directive.js"></script>
    <script src="app/services/auth/has-any-authority.directive.js"></script>
    <script src="app/services/auth/auth.session.service.js"></script>
    <script src="app/services/auth/auth.service.js"></script>
    <script src="app/services/auth/activate.service.js"></script>
    <script src="app/services/auth/account.service.js"></script>
    <script src="app/layouts/navbar/navbar.controller.js"></script>
    <script src="app/layouts/navbar/active-link.directive.js"></script>
    <script src="app/layouts/error/error.state.js"></script>
    <script src="app/components/util/truncate-words.filter.js"></script>
    <script src="app/components/util/truncate-characters.filter.js"></script>
    <script src="app/components/util/sort.directive.js"></script>
    <script src="app/components/util/sort-by.directive.js"></script>
    <script src="app/components/util/parse-links.service.js"></script>
    <script src="app/components/util/pagination-util.service.js"></script>
    <script src="app/components/util/jhi-item-count.directive.js"></script>
    <script src="app/components/util/date-util.service.js"></script>
    <script src="app/components/util/data-util.service.js"></script>
    <script src="app/components/util/capitalize.filter.js"></script>
    <script src="app/components/util/base64.service.js"></script>
    <script src="app/components/login/login.service.js"></script>
    <script src="app/components/login/login.controller.js"></script>
    <script src="app/components/form/uib-pagination.config.js"></script>
    <script src="app/components/form/uib-pager.config.js"></script>
    <script src="app/components/form/show-validation.directive.js"></script>
    <script src="app/components/form/pagination.constants.js"></script>
    <script src="app/components/form/minbytes.directive.js"></script>
    <script src="app/components/form/maxbytes.directive.js"></script>
    <script src="app/components/alert/alert.service.js"></script>
    <script src="app/components/alert/alert.directive.js"></script>
    <script src="app/components/alert/alert-error.directive.js"></script>
    <script src="app/blocks/interceptor/notification.interceptor.js"></script>
    <script src="app/blocks/interceptor/errorhandler.interceptor.js"></script>
    <script src="app/blocks/interceptor/auth-expired.interceptor.js"></script>
    <script src="app/blocks/handlers/state.handler.js"></script>
    <script src="app/blocks/config/localstorage.config.js"></script>
    <script src="app/blocks/config/http.config.js"></script>
    <script src="app/blocks/config/compile.config.js"></script>
    <script src="app/blocks/config/alert.config.js"></script>
    <script src="app/admin/user-management/user-management.state.js"></script>
    <script src="app/admin/user-management/user-management.controller.js"></script>
    <script src="app/admin/user-management/user-management-dialog.controller.js"></script>
    <script src="app/admin/user-management/user-management-detail.controller.js"></script>
    <script src="app/admin/user-management/user-management-delete-dialog.controller.js"></script>
    <script src="app/admin/metrics/metrics.state.js"></script>
    <script src="app/admin/metrics/metrics.service.js"></script>
    <script src="app/admin/metrics/metrics.modal.controller.js"></script>
    <script src="app/admin/metrics/metrics.controller.js"></script>
    <script src="app/admin/logs/logs.state.js"></script>
    <script src="app/admin/logs/logs.service.js"></script>
    <script src="app/admin/logs/logs.controller.js"></script>
    <script src="app/admin/health/health.state.js"></script>
    <script src="app/admin/health/health.service.js"></script>
    <script src="app/admin/health/health.modal.controller.js"></script>
    <script src="app/admin/health/health.controller.js"></script>
    <script src="app/admin/docs/docs.state.js"></script>
    <script src="app/admin/audits/audits.state.js"></script>
    <script src="app/admin/audits/audits.service.js"></script>
    <script src="app/admin/audits/audits.controller.js"></script>
    <script src="app/admin/configuration/configuration.state.js"></script>
    <script src="app/admin/configuration/configuration.service.js"></script>
    <script src="app/admin/configuration/configuration.controller.js"></script>
    <script src="app/account/social/social.state.js"></script>
    <script src="app/account/social/social.service.js"></script>
    <script src="app/account/social/social-register.controller.js"></script>
    <script src="app/account/settings/settings.state.js"></script>
    <script src="app/account/settings/settings.controller.js"></script>
    <script src="app/account/sessions/sessions.state.js"></script>
    <script src="app/account/sessions/sessions.controller.js"></script>
    <script src="app/account/register/register.state.js"></script>
    <script src="app/account/register/register.controller.js"></script>
    <script src="app/account/password/password.state.js"></script>
    <script src="app/account/password/password.controller.js"></script>
    <script src="app/account/password/password-strength-bar.directive.js"></script>
    <script src="app/account/activate/activate.state.js"></script>
    <script src="app/account/activate/activate.controller.js"></script>

    <script src="app/home/home.state.js"></script>
    <script src="app/home/home.controller.js"></script>
    <script src="app/howto/howto.state.js"></script>
    <script src="app/howto/howto.controller.js"></script>
    <script src="app/faq/faq.state.js"></script>
    <script src="app/faq/faq.controller.js"></script>
    <script src="app/contact/contact.state.js"></script>
    <script src="app/contact/contact.controller.js"></script>


    <script src="app/entities/entity.state.js"></script>

    <script src="app/entities/pack/pack-delete-dialog.controller.js"></script>
    <script src="app/entities/pack/pack-detail.controller.js"></script>
    <script src="app/entities/pack/pack-dialog.controller.js"></script>
    <script src="app/entities/pack/pack.controller.js"></script>
    <script src="app/entities/pack/pack.search.service.js"></script>
    <script src="app/entities/pack/pack.service.js"></script>
    <script src="app/entities/pack/pack.state.js"></script>

    <script src="app/entities/package-slot/package-slot-delete-dialog.controller.js"></script>
    <script src="app/entities/package-slot/package-slot-detail.controller.js"></script>
    <script src="app/entities/package-slot/package-slot-dialog.controller.js"></script>
    <script src="app/entities/package-slot/package-slot.controller.js"></script>
    <script src="app/entities/package-slot/package-slot.search.service.js"></script>
    <script src="app/entities/package-slot/package-slot.service.js"></script>
    <script src="app/entities/package-slot/package-slot.state.js"></script>

    <script src="app/entities/place/place.controller.js"></script>
    <script src="app/entities/place/place.search.service.js"></script>
    <script src="app/entities/place/place.service.js"></script>
    <script src="app/entities/place/place.state.js"></script>
    <script src="app/entities/place/place-delete-dialog.controller.js"></script>
    <script src="app/entities/place/place-detail.controller.js"></script>
    <script src="app/entities/place/place-dialog.controller.js"></script>

    <script src="app/entities/shipment-offer/shipment-offer-delete-dialog.controller.js"></script>
    <script src="app/entities/shipment-offer/shipment-offer-detail.controller.js"></script>
    <script src="app/entities/shipment-offer/shipment-offer-dialog.controller.js"></script>
    <script src="app/entities/shipment-offer/shipment-offer.controller.js"></script>
    <script src="app/entities/shipment-offer/shipment-offer.search.service.js"></script>
    <script src="app/entities/shipment-offer/shipment-offer.service.js"></script>
    <script src="app/entities/shipment-offer/shipment-offer.state.js"></script>

    <script src="app/entities/shipment-offer-submition/shipment-offer-submition-delete-dialog.controller.js"></script>
    <script src="app/entities/shipment-offer-submition/shipment-offer-submition-detail.controller.js"></script>
    <script src="app/entities/shipment-offer-submition/shipment-offer-submition-dialog.controller.js"></script>
    <script src="app/entities/shipment-offer-submition/shipment-offer-submition.controller.js"></script>
    <script src="app/entities/shipment-offer-submition/shipment-offer-submition.search.service.js"></script>
    <script src="app/entities/shipment-offer-submition/shipment-offer-submition.service.js"></script>
    <script src="app/entities/shipment-offer-submition/shipment-offer-submition.state.js"></script>

    <script src="app/entities/transit-point/transit-point-delete-dialog.controller.js"></script>
    <script src="app/entities/transit-point/transit-point-detail.controller.js"></script>
    <script src="app/entities/transit-point/transit-point-dialog.controller.js"></script>
    <script src="app/entities/transit-point/transit-point.controller.js"></script>
    <script src="app/entities/transit-point/transit-point.search.service.js"></script>
    <script src="app/entities/transit-point/transit-point.service.js"></script>
    <script src="app/entities/transit-point/transit-point.state.js"></script>


    <script src="app/offer/offer.state.js"></script>

    <script src="app/offer/accept-offer/accept-offer-dialog.controller.js"></script>

    <script src="app/offer/my-offers/my-offers.controller.js"></script>

    <script src="app/offer/add-offer/add-offer-dialog.controller.js"></script>
    <script src="app/offer/add-offer/add-offer.state.js"></script>

    <script src="app/offer/search-offer/search-offer.controller.js"></script>
    <script src="app/offer/search-offer/search-offer.search.service.js"></script>
    <script src="app/offer/search-offer/search-offer.service.js"></script>

    <script src="app/offer/offer-detail/offer-detail.controller.js"></script>
    <script src="app/offer/offer-detail/offer-detail.service.js"></script>

    <script src="app/admin/admin.state.js"></script>
    <script src="app/account/account.state.js"></script>
    <script src="app/app.state.js"></script>
    <script src="app/app.constants.js"></script>
    <!-- endinject -->
    <!-- endbuild -->

</body>
</html>
