
<div>
    <h2><span>ShipmentOfferSubmition</span> {{vm.shipmentOfferSubmition.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span>Status</dt></dt>
        <dd>
            <span translate="{{'deliveritApp.Status.' + vm.shipmentOfferSubmition.status}}">{{vm.shipmentOfferSubmition.status}}</span>
        </dd>
        <hr>
        <dt><span>Message</dt></dt>
        <dd>
            <span>{{vm.shipmentOfferSubmition.message}}<span>
        </dd>
        <hr>
        <dt><span>Date</dt></dt>
        <dd>
            <span>{{vm.shipmentOfferSubmition.date | date:'mediumDate'}}</span>
        </dd>
        <hr>
        <dt><span>ReceipDate</dt></dt>
        <dd>
            <span>{{vm.shipmentOfferSubmition.receipDate | date:'mediumDate'}}</span>
        </dd>
        <hr>
        <dt><span>startTransitPoint</span></dt>
        <dd>
            <a ui-sref="transit-point-detail({id:vm.shipmentOfferSubmition.startTransitPointId})">{{vm.shipmentOfferSubmition.startTransitPointId}}</a>
        </dd>
        <hr>
        <dt><span>user</span></dt>
        <dd>
            {{vm.shipmentOfferSubmition.userId}}
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
