
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myShipmentOfferSubmitionLabel">Create or edit a ShipmentOfferSubmition</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.shipmentOfferSubmition.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.shipmentOfferSubmition.status" id="field_status" required>
                <option value="messageSent">messageSent</option>
                <option value="approved">approved</option>
                <option value="received">received</option>
                <option value="abandoned">abandoned</option>
                <option value="receivedProblem">receivedProblem</option>
                <option value="deliverProblem">deliverProblem</option>
                <option value="delivered">delivered</option>
            </select>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_message">Message</label>
            <input type="text" class="form-control" name="message" id="field_message"
                    ng-model="vm.shipmentOfferSubmition.message"
                    required ng-maxlength="264" />
            <div ng-show="editForm.message.$invalid">
                <p class="help-block"
                    ng-show="editForm.message.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.message.$error.maxlength">
                    This field cannot be longer than 264 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.shipmentOfferSubmition.date" is-open="vm.datePickerOpenStatus.date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_receipDate">ReceipDate</label>
                <div class="input-group">
                    <input id="field_receipDate" type="text" class="form-control" name="receipDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.shipmentOfferSubmition.receipDate" is-open="vm.datePickerOpenStatus.receipDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('receipDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.receipDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.receipDate.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_startTransitPoint">startTransitPoint</label>
            <select class="form-control" id="field_startTransitPoint" name="startTransitPoint" ng-model="vm.shipmentOfferSubmition.startTransitPointId" ng-options="transitPoint.id as transitPoint.id for transitPoint in vm.transitpoints">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.shipmentOfferSubmition.userId" ng-options="user.id as user.id for user in vm.users">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
