
<div>
    <h2><span>Place</span> {{vm.place.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span>Name</dt></dt>
        <dd>
            <span>{{vm.place.name}}<span>
        </dd>
        <hr>
        <dt><span>City</dt></dt>
        <dd>
            <span>{{vm.place.city}}<span>
        </dd>
        <hr>
        <dt><span>Latitude</dt></dt>
        <dd>
            <span>{{vm.place.latitude}}<span>
        </dd>
        <hr>
        <dt><span>Longitude</dt></dt>
        <dd>
            <span>{{vm.place.longitude}}<span>
        </dd>
        <hr>
        <dt><span>Address</dt></dt>
        <dd>
            <span>{{vm.place.address}}<span>
        </dd>
        <hr>
        <dt><span>CreationDate</dt></dt>
        <dd>
            <span>{{vm.place.creationDate | date:'medium'}}</span>
        </dd>
        <hr>
        <dt><span>Status</dt></dt>
        <dd>
            <span translate="{{'deliveritApp.PlaceStatus.' + vm.place.status}}">{{vm.place.status}}</span>
        </dd>
        <hr>
        <dt><span>PostCode</dt></dt>
        <dd>
            <span>{{vm.place.postCode}}<span>
        </dd>
        <hr>
        <dt><span>user</span></dt>
        <dd>
            {{vm.place.userId}}
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
