<link href="../../content/css/offer.css" rel="stylesheet">
<link href="../../content//fontello/css/fontello.css" rel="stylesheet">

<div ng-cloak>
    <div class="offer">

        <div class="row">
            <div id="location">
                <div class="row">
                    <div class="input-group">
                          <span class="input-group-btn">
                              <button class="btn btn-default" type="button"><i class="icon-location-s"></i></button>
                          </span>
                        <input type="text" ng-model="vm.fromCity" id="fromCity" class="form-control" placeholder="Miasto startowe">
                    </div><!-- /input-group -->
                </div>

                <div class="row">
                    <h3><i class="icon-down-1"></i></h3>
                </div>

                <div class="row">
                    <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="icon-location-outline-s"></i></button>
              </span>
                        <input type="text" ng-model="vm.toCity" id="toCity" class="form-control" placeholder="Miasto końcowe">
                    </div><!-- /input-group -->
                </div><!-- /.row -->

                <div class="buttons row">
                    <div class="col-md-3"/>
                    <div class="col-md-2">
                        <button type="button" ng-click="vm.search(vm.fromCity, vm.toCity)" class="btn btn-primary">Zabiorę</button>
                    </div>
                    <div class="col-md-2"/>
                    <div class="col-md-2">
                        <button type="button" ng-disabled="true" ng-click="vm.search()" class="btn btn-primary">Jadę</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <hr class="featurette-divider-med">
            <div class="row">
                <div class="last-announcement">
                    <h3>Znalezione ogłoszenia ({{ vm.shipmentOffersCities.length }})</h3>
                </div>
            </div>
            <!------------------>
            <!-- ANNOUNCEMENT -->
            <!------------------>
            <div ng-repeat="offer in vm.shipmentOffersCities track by offer.id" ng-if="offer.packageSlots[0].size">
                <hr class="featurette-divider-med" ng-if="$first">
                <hr class="featurette-divider" ng-if="!$first">
                    <div class="announcement row">
                        <div class="col-md-1"><strong>{{offer.id}}</strong></div>
                        <div class="col-md-2">
                            <img class="img-circle"
                                 src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                 alt="Generic placeholder image" width="70" height="70">
                        </div>
                        <div ng-repeat="transitPoint in offer.transitPoints | orderBy: 'date'">
                            <div class="col-md-1" ng-if="$first">{{transitPoint.city}}</div>
                            <div class="col-md-1" ng-if="$first"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-1" ng-if="$last">{{transitPoint.city}}</div>
                        </div>
                        <div class="col-md-2">{{offer.date}}</div>
                        <div class="col-md-2"><span
                            ng-repeat="slot in offer.packageSlots | orderBy: 'remainingQuantity': true">
                            {{slot.size}}: {{slot.remainingQuantity}}
                        </span>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" ui-sref="offer-detail({id:offer.id})" class="btn btn-primary">
                                Szczegóły
                            </button>
                        </div>
                </div>
            </div>
            <hr class="featurette-divider">
            </div>
            <!------------------->
            <!-- /ANNOUNCEMENT -->
            <!------------------->
        </div>
    </div>
</div>
